*{
    padding:0;
    margin: 0;
    font-family: 'Arial', sans-serif;
}
body{
    background-color: #ddd;
}

header{
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}
header h1{
    font-weight: 200;
    color:#34495e;
}
header p{
    color:#2c3e50;
    padding-top: 15px;
}
.row{
    box-sizing: border-box;
    width:100%;
    padding:2% 15% 0 15%;
    overflow: hidden;
}
.row .box{
    display: block;
    width: 31.33%;
    height:250px;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
    background-color: #fff;
    color:#34495e;
    text-align: center;
    position: relative;
}
.row .box:hover{
    background-color:#2c3e50;
    cursor: pointer;
    color: #fff;
}
.row .box .loader{
    width:70px;
    height:70px;
    position: relative;
    top:25%;
    margin: 0 auto;
}
.row .box  p{
    font-size:large;
    display: block;
    margin: 50% auto;
}
@keyframes load1 {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
#loader1 i{
    display: block;
    width:100%;
    height:100%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    background: linear-gradient(transparent  ,transparent 70% ,#00aadd 70%, #0099aa 100%);
    animation:load1 0.6s infinite;
}
@keyframes load2 {
    0%{
        transform: scale(0.4);
        opacity: 0.3;
    }
    100%{
        transform: scale(1);
        opacity:1;
    }
}
#loader2 i{
    display: block;
    width:15px;
    height:15px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    background-color: #00aadd;
    position: absolute;
}
#loader2 i:nth-child(1){
    top:50px;
    left:25px;
    animation:load2  1s ease 0s infinite;
}
#loader2 i:nth-child(2){
    top:42px;
    left:42px;
    animation:load2  1s ease -0.12s infinite;
}
#loader2 i:nth-child(3){
    top:25px;
    left:50px;
    animation:load2  1s ease -0.24s infinite;
}
#loader2 i:nth-child(4){
    top:8px;
    left:42px;
    animation:load2  1s ease -0.36s infinite;
}
#loader2 i:nth-child(5){
    top:0px;
    left:25px;
    animation:load2  1s ease -0.48s infinite;
}
#loader2 i:nth-child(6){
    top:8px;
    left:8px;
    animation:load2  1s ease -0.6s infinite;
}
#loader2 i:nth-child(7){
    top:25px;
    left:0px;
    animation:load2  1s ease -0.72s infinite;
}
#loader2 i:nth-child(8){
    top:42px;
    left:8px;
    animation:load2  1s ease -0.84s infinite;
}
@keyframes load3 {
    0%{
        transform:scale(0);
        opacity:0;
    }
    5%{
        opacity:1;
    }
    100%{
        transform: scale(1);
        opacity:0;
    }
}
#loader3 i{
    left: 5px;
    width:60px;
    height:60px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    background-color: #00aadd;
    opacity:0;
    position: absolute;
}
#loader3 i:nth-child(1){
    animation:load3 1s linear 0s infinite;
}
#loader3 i:nth-child(2){
    animation:load3 1s linear 0.2s infinite;
}
#loader3 i:nth-child(3){
    animation:load3 1s linear 0.2s infinite;
}
@keyframes load4 {
    0%{
        transform: scaleY(1);
    }
    50%{
        transform: scaleY(0.4);
    }
    100%{
        transform: scaleY(1);
    }
}
#loader4 i{
    display: inline-block;
    width:4px;
    height:35px;
    margin: 8px 4px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    background-color: #1dd1ae;
}
#loader4 i:nth-child(1){
    animation:load4  1s ease 0.1s infinite;
}
#loader4 i:nth-child(2){
    animation:load4  1s ease 0.2s infinite;
}
#loader4 i:nth-child(3){
    animation:load4  1s ease 0.3s infinite;
}
#loader4 i:nth-child(4){
    animation:load4  1s ease 0.4s infinite;
}
#loader4 i:nth-child(5){
    animation:load4  1s ease 0.5s infinite;
}
@keyframes load5 {
    0%{
        transform: rotate(0deg) scale(1);
    }
    50%{
        transform: rotate(180deg) scale(0.6);
    }
    100%{
        transform: rotate(360deg) scale(1);
    }
}
#loader5 i{
    display: block;
    position: absolute;
    border:solid 3px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    border-color: transparent #1dd1ae;
}
#loader5 i:nth-child(1){
    width: 50px;
    height:50px;
    top:5px;
    left:5px;
    animation:load5  1s ease-in-out 0s infinite;
}
#loader5 i:nth-child(2){
    width: 30px;
    height:30px;
    top:15px;
    left:15px;
    animation:load5  1s ease-in-out 0.5s infinite reverse;
}
@keyframes load7 {
    0%{
        transform: rotateY(0deg);
    }
    50%{
        transform: rotateY(180deg);
    }
   100%{
        transform: rotateY(180deg);
    }
}
#loader7 i{
    display: block;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    position: absolute;
}
#loader7 i:nth-child(1) {
    width: 40px;
    height: 40px;
    top:5px;
    left:5px;
    border:solid 10px rgba(254,106,106,0.6);
    animation:load7 2s ease-in-out 0s infinite;
}
#loader7 i:nth-child(2) {
    width: 32px;
    height: 32px;
    top:13px;
    left:13px;
    border:solid 6px #FE6A6A;
    animation:load7 2s ease-in-out 1s infinite;
}
@keyframes load8 {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
#loader8 i{
    display: block;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    position: absolute;
    width: 40px;
    height: 40px;
    top:5px;
    left:5px;
    border:solid 10px #FE6A6A;
    border-color: rgba(254,106,106,0.6) #FE6A6A;
    animation:load8 1.5s linear 0s infinite;
}
footer{
    margin:25px 0 ;
    font-size: small;
    color: #666;
    text-align: center;
}